.class {
    width: 600px;
    height: 300px;
    background-color: rosybrown;
    margin: 10px;
    font: 1em times;
    font-size: xx-large;
}
#title {
    font: 1em times;
    font-size: x-large;
}
#department {
    font: 1em times;
    font-size: large;
}
#description {
    font: 1em times;
    font-size: medium;
}