.my-classes {
    background-color: antiquewhite;
}
h1 {
    font: 1em times;
    font-size: xx-large;
    font-weight: 900;
}
label {
    font: 1em times;
    font-size: medium;
}
button {
    font: 1em times;
    font-size: medium;
}
